/**Footer styles**/
 footer {
 	background: $color-primary-bg;
 	padding: $gutter;
 	a {
 		color: $color-primary-font;
 		text-decoration:  none;
 		&:hover {
 			color: $color-primary-accent;
 		}
 	}
 	div {
 		 @include centerSection;
 	}
 	h2 {
 		margin-top: 0;
 	}
 }