header {
	border: 5px solid $color-secondary-accent;
	background: $color-secondary-bg;
	color: $color-primary-accent;
	text-align: center;
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	@extend %transition-right;
	h1 {
		margin: 0;
	}
	p {
		text-align: left;
		margin-top: 0;
	}
	nav {
		display: none;
		@media screen and (min-width: $br-med) {
			display: initial;
			ul {
			display: flex;
			align-self: flex-end;
			li {
				display: inline-flex;
				padding: 0;
			}
			}
		}
	}
}