header {
    @extend %transition-right;
	border: 5px solid $color-secondary-accent;
	background: $color-secondary-bg;
	color: $color-primary-accent;
	text-align: center;
	display: flex;
	align-items: left;
	justify-content: space-between;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 11111;
	.social {
		display: none;
	}
	@media screen and (min-width: $br-med) {
		flex-flow: row wrap;
		.social {
			display: initial;
			margin-right: $gutter;
			align-self: flex-end;
			cursor: pointer;
			li {
				transition: color .25s ease-in-out;
				font-size: 1.5em;
				padding: 5px;
				margin: 0 5px;
				&:hover {
					color: $color-primary-accent;
				}
			}
		}
	}
	@extend %transition-right;
	.header-text {
		padding-left: $gutter;
	}
	h1 {
		margin: 0;
	}
	p {
		text-align: left;
		margin-top: 0;
	}
	nav {
		display: none;
		@media screen and (min-width: $br-med) {
			display: initial;
			z-index: 2;
			ul {
			display: flex;
			align-self: flex-end;
			li {
				display: inline-flex;
				padding: 0;
			}
			}
		}
	}
}