* {
	overflow-x: hidden;
}
.wrapper {
	border-right: 5px solid $color-secondary-accent;
	border-left: 5px solid $color-secondary-accent;
	background: #3c3c3c;
	@extend %transition-right;
	margin-top: 81px;
}

.img-container {
	width: 100%;
	img {
		max-width: 100%;
	}
}

@import 'nav';
@import 'header';
@import 'main';
@import 'userInfo';
@import 'portfolio';
@import 'footer';
@import 'skills';
