/***** Building mobile nav *****/

.navigation {
  background: #111;
  position: fixed;
  width: 50%;
  transition: right .25s ease-out;
  right: -50%;
  background: $color-content-bg;
  border: 5px solid $color-primary-accent;
  border-radius: 5px;
  font-family: 'PT Sans', sans-serif;
  margin-top: 5px;
  ul {
  	list-style-type: none;
  	padding: 0;
  	margin: 0;
  	li {
  		padding: $gutter;
  		display: inline-block;
  		width: 100%;
  		border-bottom: 1px solid $color-secondary-accent;
  		transition: background .2s;
  		&:hover {
  			background: $color-primary-bg;
  			cursor: pointer;
  			font-weight: bold;
  			a {
  				color: $color-primary-accent;
  			}
  		}
  		a {
  			color: $color-secondary-font;
  			text-decoration: none;
  			&:active {
  				color: $color-primary-accent;
  				font-weight: bold;
  			}
  		}
  	}
  }
}

.navOnCanvas {
	right: 0%;
}
.moveToLeft {
	position: relative;
	right: 50%;
}
.navTriggerLeft {
	right: 50%;
}
