/****************************
***** PORTFOLIO SECTION *****
****************************/
.portfolio {
	padding: $gutter;
}
.flex-container {
	@include centerSection;
	justify-content: space-between;
	display: flex;
	flex-flow: column nowrap;
	border-radius: 5px;
	.project {
		width: 100%;
		max-width: 350px;
		@media screen and (min-width: $br-med) {
			flex-basis: 33%;
		}
		.project-description {
			div {
				@extend %flex-row;
				margin-top: $gutter;
			}
		}
		a {
			display: inline-block;
			width: 45%;
			text-decoration: none;
			padding: $gutter;
			@extend .button;
			text-align: center;
			border: 2px solid $color-primary-accent;
		}
		.img-container {
			img {
				border: 5px solid $color-primary-accent;
				border-radius: 5px;
			}
		}
	}
	@media screen and (min-width: $br-med) {
		flex-flow: row wrap;
		.project {
			flex-basis: 45%;
			flex-grow: 1;
			margin: 2%;
			justify-content: space-between;
		}
		.project-description {
			p {
				min-height: 150px;
			}
		}
	}
	p, li {
		color: $color-primary-font;
	}
	h3, h4, h5, h6 {
		color:  $color-primary-accent;
	}
}
.technologies {
	align-self: flex-end;
	display: flex;
	flex-flow: row wrap;
	width: 100%;
	margin: 0;
	padding: 0;
	justify-content: space-between;
	.tech-logo {
		list-style-type: none;
		min-width: 64px;
		flex-basis: 25%;
		img {
			height: 64px;
			width: 64px;
		}
	}
}