.button {
	color: $color-primary-font;
	padding: 5px;
	border: none;
	background: $color-secondary-accent;
	border-radius: 5px;
	font-weight: bold;
	font-size: 1.05em;
}

.nav-trigger {
	@extend .button;
	transition: right .25s ease-out;
	background: none;
	div {
		background: $color-primary-accent;
		width: 35px;
 		height: 5px;
  	margin: 6px 0;
  	transition: 0.25s;
	}
}
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
  transform: rotate(-45deg) translate(-9px, 6px) ;
}

/* Fade out the second bar */
.change .bar2 {
  opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}