//Spacing and layout
$gutter: 10px;

//colors
$color-primary-accent: #FFA500; //orange
$color-secondary-accent: #5b5b5b; //grey

$color-primary-bg: #3c3c3c; //dark shade of grey
$color-secondary-bg: #090f0f; //black
$color-content-bg: white;

$color-primary-font: white;
$color-secondary-font: black;

//breakpoints
$br-med: 768px;