@import url("https://fonts.googleapis.com/css?family=PT+Sans|Slabo+27px");
.wrapper, .navigation, header {
  transition: right .25s ease-out; }

.button, .nav-trigger {
  color: white;
  padding: 5px;
  border: none;
  background: #5b5b5b;
  border-radius: 5px;
  font-weight: bold;
  font-size: 1.05em; }

.nav-trigger {
  transition: right .25s ease-out;
  background: none; }
  .nav-trigger div {
    background: #FFA500;
    width: 35px;
    height: 5px;
    margin: 6px 0;
    transition: 0.4s; }

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px); }

/* Fade out the second bar */
.change .bar2 {
  opacity: 0; }

/* Rotate last bar */
.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px); }

* {
  box-sizing: border-box; }

body {
  margin: 0;
  font-family: 'Slabo 27px', serif; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'PT Sans', sans-serif;
  color: #FFA500; }

p, li {
  color: white;
  font-size: 1.1em; }

section {
  border-bottom: 5px solid #5b5b5b; }

.wrapper {
  border-right: 5px solid #5b5b5b;
  border-left: 5px solid #5b5b5b;
  background: #3c3c3c;
  padding: 10px; }

main,
aside,
footer,
header {
  padding: 0 10px;
  z-index: 1; }

.img-container {
  width: 100%; }
  .img-container img {
    max-width: 100%; }

/***** Building mobile nav *****/
.navigation {
  background: #111;
  position: fixed;
  width: 50%;
  height: 100%;
  right: -50%;
  top: 0;
  background: white;
  border-left: 5px solid #FFA500;
  border-top: 5px solid #FFA500;
  font-family: 'PT Sans', sans-serif; }
  .navigation ul {
    list-style-type: none;
    padding: 0;
    margin: 0; }
    .navigation ul li {
      padding: 10px;
      display: inline-block;
      width: 100%;
      border-bottom: 1px solid #5b5b5b;
      transition: background .2s; }
      .navigation ul li:hover {
        background: #3c3c3c;
        cursor: pointer;
        font-weight: bold; }
        .navigation ul li:hover a {
          color: #FFA500; }
      .navigation ul li a {
        color: black;
        text-decoration: none; }
        .navigation ul li a:active {
          color: #FFA500;
          font-weight: bold; }

.navOnCanvas {
  right: 0%; }

.moveToLeft {
  position: relative;
  right: 50%; }

.navTriggerLeft {
  right: 52%;
  position: fixed; }

header {
  border: 5px solid #5b5b5b;
  padding: 10px;
  background: #090f0f;
  color: #FFA500;
  text-align: center;
  display: flex;
  align-items: flex-start;
  justify-content: space-between; }
  header h1 {
    margin-top: 0; }

main {
  background: #3c3c3c;
  transition: right .25 ease-out; }

.user-info .img-container {
  width: 120px;
  margin: 0 auto; }
.user-info img {
  max-width: 100%;
  border-radius: 50%; }

/****************************
***** PORTFOLIO SECTION *****
****************************/
.portfolio {
  display: flex;
  flex-flow: column nowrap;
  border-radius: 5px; }
  .portfolio .project {
    width: 100%;
    margin: 10px 0;
    border-radius: 5px;
    background: white;
    padding: 10px;
    border: 7px solid #FFA500; }
  .portfolio p, .portfolio li {
    color: black; }
  .portfolio h3, .portfolio h4, .portfolio h5, .portfolio h6 {
    color: black; }

/*# sourceMappingURL=application.css.map */
