@charset "UTF-8";
/* Slider */
@import url("https://fonts.googleapis.com/css?family=PT+Sans|Slabo+27px");
.slick-loading .slick-list {
  background: #fff url("./ajax-loader.gif") center center no-repeat; }

/* Icons */
@font-face {
  font-family: "slick";
  src: url("./fonts/slick.eot");
  src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal; }
/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none; }
  .slick-prev:hover, .slick-prev:focus,
  .slick-next:hover,
  .slick-next:focus {
    outline: none;
    background: transparent;
    color: transparent; }
    .slick-prev:hover:before, .slick-prev:focus:before,
    .slick-next:hover:before,
    .slick-next:focus:before {
      opacity: 1; }
  .slick-prev.slick-disabled:before,
  .slick-next.slick-disabled:before {
    opacity: 0.25; }
  .slick-prev:before,
  .slick-next:before {
    font-family: "slick";
    font-size: 20px;
    line-height: 1;
    color: white;
    opacity: 0.75;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }

.slick-prev {
  left: -25px; }
  [dir="rtl"] .slick-prev {
    left: auto;
    right: -25px; }
  .slick-prev:before {
    content: "←"; }
    [dir="rtl"] .slick-prev:before {
      content: "→"; }

.slick-next {
  right: -25px; }
  [dir="rtl"] .slick-next {
    left: -25px;
    right: auto; }
  .slick-next:before {
    content: "→"; }
    [dir="rtl"] .slick-next:before {
      content: "←"; }

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px; }

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%; }
  .slick-dots li {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer; }
    .slick-dots li button {
      border: 0;
      background: transparent;
      display: block;
      height: 20px;
      width: 20px;
      outline: none;
      line-height: 0px;
      font-size: 0px;
      color: transparent;
      padding: 5px;
      cursor: pointer; }
      .slick-dots li button:hover, .slick-dots li button:focus {
        outline: none; }
        .slick-dots li button:hover:before, .slick-dots li button:focus:before {
          opacity: 1; }
      .slick-dots li button:before {
        position: absolute;
        top: 0;
        left: 0;
        content: "•";
        width: 20px;
        height: 20px;
        font-family: "slick";
        font-size: 6px;
        line-height: 20px;
        text-align: center;
        color: black;
        opacity: 0.25;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; }
    .slick-dots li.slick-active button:before {
      color: black;
      opacity: 0.75; }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

.wrapper, .mobile-nav, header {
  transition: right .25s ease-out; }

.flex-container .project .project-description div {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap; }

.button, .nav-trigger, .flex-container .project a {
  color: white;
  padding: 5px;
  border: none;
  background: #5b5b5b;
  border-radius: 5px;
  font-weight: bold;
  font-size: 1.05em; }

.nav-trigger {
  transition: right .25s ease-out;
  background: none; }
  .nav-trigger div {
    background: #FFA500;
    width: 35px;
    height: 5px;
    margin: 6px 0;
    transition: 0.25s; }

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px); }

/* Fade out the second bar */
.change .bar2 {
  opacity: 0; }

/* Rotate last bar */
.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px); }

* {
  box-sizing: border-box; }

body {
  margin: 0;
  font-family: 'Slabo 27px', serif; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'PT Sans', sans-serif;
  color: #FFA500; }

p, li {
  color: white;
  font-size: 1.1em; }

section {
  border-bottom: 5px solid #5b5b5b; }
  @media screen and (min-width: 768px) {
    section .section-heading {
      max-width: 768px;
      margin: 0 auto; } }

* {
  overflow-x: hidden; }

.wrapper {
  border-right: 5px solid #5b5b5b;
  border-left: 5px solid #5b5b5b;
  background: #3c3c3c;
  margin-top: 81px; }

.img-container {
  width: 100%; }
  .img-container img {
    max-width: 100%; }

/***** Building mobile nav *****/
.sticky-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  border: 5px solid #5b5b5b; }

.navigation {
  background: white; }
  @media screen and (min-width: 768px) {
    .navigation {
      width: 100%; }
      .navigation ul {
        display: flex;
        align-items: flex-end; }
        .navigation ul li {
          border: 1px solid #5b5b5b; } }
  .navigation ul {
    list-style-type: none;
    padding: 0;
    margin: 0; }
    .navigation ul li {
      padding: 10px;
      display: inline-block;
      width: 100%;
      border-bottom: 1px solid #5b5b5b;
      transition: background .2s; }
      .navigation ul li:hover {
        background: #3c3c3c;
        cursor: pointer;
        font-weight: bold; }
        .navigation ul li:hover a {
          color: #FFA500; }
      .navigation ul li a {
        color: black;
        text-decoration: none; }
        .navigation ul li a:active {
          color: #FFA500;
          font-weight: bold; }

.mobile-nav {
  position: fixed;
  width: 50%;
  height: 100%;
  right: -50%;
  top: 0;
  border-left: 5px solid #FFA500;
  border-top: 5px solid #FFA500;
  font-family: 'PT Sans', sans-serif;
  z-index: 999; }
  @media screen and (min-width: 768px) {
    .mobile-nav {
      display: none; } }

.navOnCanvas {
  right: 0%; }

.moveToLeft {
  right: 50%; }

.navTriggerLeft {
  right: 52%;
  position: fixed; }

.nav-trigger {
  outline: none; }
  @media screen and (min-width: 768px) {
    .nav-trigger {
      display: none; } }

header {
  border: 5px solid #5b5b5b;
  background: #090f0f;
  color: #FFA500;
  text-align: center;
  display: flex;
  align-items: left;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 11111; }
  @media screen and (min-width: 768px) {
    header {
      flex-flow: column nowrap; } }
  header .header-text {
    padding-left: 10px; }
  header h1 {
    margin: 0; }
  header p {
    text-align: left;
    margin-top: 0; }
  header nav {
    display: none; }
    @media screen and (min-width: 768px) {
      header nav {
        display: initial;
        z-index: 2; }
        header nav ul {
          display: flex;
          align-self: flex-end; }
          header nav ul li {
            display: inline-flex;
            padding: 0; } }

main {
  background: #3c3c3c;
  transition: right .25 ease-out; }

.user-info {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-end;
  background: linear-gradient(#ccc, transparent 80%), linear-gradient(transparent, #3c3c3c 100%), url("../img/waves.jpg") no-repeat center/cover;
  padding: 10px; }
  @media screen and (min-width: 768px) {
    .user-info {
      min-height: 100vh; } }
  .user-info h2 {
    margin-top: 0; }
  .user-info .img-container {
    width: 100%;
    max-width: 240px;
    margin: 0 auto; }
  .user-info img {
    max-width: 100%;
    border-radius: 50%;
    border: 5px solid #FFA500; }
  .user-info .info {
    margin: 0 auto;
    max-width: 768px; }
    @media screen and (min-width: 768px) {
      .user-info .info {
        display: flex;
        justify-content: space-between; }
        .user-info .info .info1, .user-info .info info2 {
          margin: 0 10px; }
        .user-info .info div {
          flex-basis: 50%;
          margin: 0 2%;
          font-size: 1.1em;
          text-align: center; } }

.img-text {
  padding: 10px;
  position: relative;
  top: -25px;
  text-align: center;
  background: #090f0f;
  opacity: 0.7;
  border: 5px solid #5b5b5b;
  border-radius: 30%;
  min-width: 280px;
  margin: 0 auto; }
  .img-text .h2 {
    margin-top: 10px;
    margin-bottom: 0; }
  .img-text p {
    font-size: 1.2em;
    margin-top: 0; }

/****************************
***** PORTFOLIO SECTION *****
****************************/
.portfolio {
  padding: 10px; }

.flex-container {
  margin: 0 auto;
  max-width: 768px;
  justify-content: space-between;
  display: flex;
  flex-flow: column nowrap;
  border-radius: 5px; }
  .flex-container .project {
    width: 100%;
    margin: 0 auto; }
    @media screen and (min-width: 768px) {
      .flex-container .project {
        flex-basis: 33%; } }
    .flex-container .project .project-description div {
      margin-top: 10px; }
    .flex-container .project a {
      display: inline-block;
      width: 45%;
      text-decoration: none;
      padding: 10px;
      text-align: center;
      border: 2px solid #FFA500; }
    .flex-container .project .img-container img {
      border: 5px solid #FFA500;
      border-radius: 5px; }
  @media screen and (min-width: 768px) {
    .flex-container {
      flex-flow: row wrap; }
      .flex-container .project {
        flex-basis: 45%;
        flex-grow: 1;
        margin: 2%;
        justify-content: space-between; }
      .flex-container .project-description p {
        min-height: 150px; } }
  .flex-container p, .flex-container li {
    color: white; }
  .flex-container h3, .flex-container h4, .flex-container h5, .flex-container h6 {
    color: #FFA500; }

.technologies {
  align-self: flex-end;
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  margin: 0;
  padding: 0;
  justify-content: space-between; }
  .technologies .tech-logo {
    list-style-type: none;
    min-width: 64px;
    flex-basis: 25%; }
    .technologies .tech-logo img {
      height: 64px;
      width: 64px; }

/**Footer styles**/
footer {
  background: #3c3c3c;
  padding: 10px; }
  footer ul {
    padding: 0; }
  footer a {
    color: white;
    text-decoration: none; }
    footer a:hover {
      color: #FFA500; }
  footer div {
    margin: 0 auto;
    max-width: 768px; }
  footer h2 {
    margin-top: 0; }

@media screen and (min-width: 768px) {
  .skills-carousel {
    position: relative;
    margin: 0 auto;
    max-width: 768px; } }
.skills-carousel .slide {
  width: 64px; }

/*# sourceMappingURL=application.css.map */
